.heartCustom{
    float: right;
    font-size: 25px;
    margin-left: 30px;
    transition: transform .2s; /* Animation */
}
.heartCustom:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.heartCustomLike{
    float: right;
    color: red;
}
#btnapply{
    background-color:#28a745;
    border-radius: 15px;
    font-weight: bold;
}
.readmorecontent{
    display: none;
}